<footer class="common-footer">
    {{ $languagesCount := $.Site.Home.AllTranslations }}
    {{ if gt $languagesCount 1 }}
        {{ partial "languageSelect.html" . }}
    {{ end }}

    <div class="copyright">
        <p>© {{ if isset .Site.Params "author"}}{{ .Site.Params.author }}, {{end}}{{ now.Year }}<br>
        {{ i18n "powered" | humanize }} <a target="_blank" rel="noopener noreferrer" href="https://gohugo.io/">Hugo</a>, <a target="_blank" rel="noopener noreferrer" href="https://www.gnu.org/software/emacs/">Emacs</a>, <a target="_blank" rel="noopener noreferrer" href="https://orgmode.org/">Org Mode</a>, but mostly <a target="_blank" rel="noopener noreferrer" href="https://www.vim.org/">VIM</a>
        </p>  
    </div> 

    {{ partial "themeSwitcher.html" . }}    
</footer>
